<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- JavaScript and HTML are required to be in separate files for security. -->
<script src="../jquery.min.js"></script> 
<script src="../jquery-ui/jquery-ui.min.js"></script> 
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../angular.min.js"></script>
<link href="../bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="../bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="../md5.min.js"></script> 
<script src="./popup.js"></script>
<style>
body { min-width:800px; }
table { table-layout: fixed; }
table td { word-wrap: break-word; }
div.myfocus {
	height: 18px;
	width: 70px;
	/* background-color: grey; */
	display: inline-block;
	position: relative;
	top: 5px;
	/* below can avoid height changes 
	 * when div shows/hides. */
	max-height: 18px;
	overflow:hidden;
}
a.myfocus {
	display: none;
	position: relative;
	right: 10px;
}
</style>
</head>
<body>

<div ng-controller="MyCtrl">

<div ng-show="empty_inputs">
	<div class="well">
	<h3>No form/input found in this page.</h3>
	</div>
</div>
<div ng-hide="if_focus || empty_inputs">
	<div class="well">
	<h3>Batch actions</h3>
	<a href ng-click="apply_all()" class="btn btn-primary">Apply all default values</a>
	<a href ng-click="remember_all()" class="btn btn-success">Remember all filled values</a>
	<hr>
	</div>
</div>

<div ng-show="if_focus">
<div class="well">
<h3>Search from frequently used values to fill the focused blank</h3>
<div style="width: 600px">
	<div class="input-group">
	<input type="text" class="form-control" placeholder="Search values... (case sensitive)" id="q">
		<span class="input-group-btn">
			<button  ng-click="search_val_clicked()" class="btn btn-default" type="button">
				<span class="glyphicon glyphicon-search" aria-hidden="true">
				</span>&nbsp;
			</button>
		</span>
	</div>

	<div ng-hide="empty_srch_results">
		<table class="table">
			<tr><th>Search results</th><th> </th></tr>
			<tr ng-repeat="(key, val) in srch_results">
				<td>{{key}}</td>
				<td>
					<a href ng-click="search_apply(key)" class="btn btn-primary btn-xs">Apply to focus input</a>
				</td>
			</tr>
		</table>
	</div>
</div>
</div>
</div>

<div ng-repeat="i in inputs | orderObjectBy:'position':false">
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="hook_focus" my-key="{{i['ref_id']}}" my-eval-hook>
			Top possible value(s) for 
			<span class="label label-default">
			{{i['name']}}
			</span>
			<small></makr>#{{i['id']}}</mark></small>
			<div class="myfocus">
				<a class="btn myfocus"><span class="glyphicon glyphicon-screenshot"  aria-hidden="true"></span> focus</a>
			</div>
		</div>
	</div>
			<table class="table">
			<tr><th>Name match</th><th>ID match</th><th>Form ID</th><th>Host</th><th>Value</th><th> </th></tr>
			<tr ng-repeat="it in results[i['ref_id']]" ng-class="{info:$first}">
			<td><div class="hook" 
				my-key="{{i['ref_id']}}" my-row="{{$index}}" my-attr="name" my-eval-hook>
				<span class="editable" my-render-hook>{{it.name}}</span>
			</div></td>
			<td><div class="hook" 
				my-key="{{i['ref_id']}}" my-row="{{$index}}" my-attr="id" my-eval-hook>
				<span class="editable" my-render-hook>{{it.id}}</span>
			</div></td>
			<td>{{it.form_id}}</td>
			<td>{{it.host}}</td>
			<td><div class="hook" 
				my-key="{{i['ref_id']}}" my-row="{{$index}}" my-attr="value" my-eval-hook>
				<span class="editable" my-render-hook>{{it.value}}</span>
			</div></td>
			<td>
			<a href ng-click="apply_one(i['ref_id'],$index,1)" class="btn btn-primary btn-xs">Apply</a>
			<a href ng-click="forget(i['ref_id'],$index)" class="btn btn-danger btn-xs">Forget</a>
			</td>
			</tr>
			</table>
	</div>
</div>

<!--
<h3>Inputs:</h3>
<div ng-repeat="(key, val) in inputs">
{{key}} : <br/>
{{val}}
</div>
<h3>Results:</h3>
<div ng-repeat="(key, val) in results">
{{key}} : <br/>
<span ng-repeat="res_item in val">{{res_item}}</span>
</div>
-->

<hr/>
<!--
<a href ng-click="forget_all()" class="btn btn-danger btn-xs">Reset my memory database</a>
-->
<h3>Tips</h3>
<div class="alert alert-info" role="alert">
<p>
You can get started to insert some data into your database by filling a <a href ng-click="typical_form()" class="btn btn-info btn-xs">typical application form</a>.
</p>
<p>
Need to reset/exam/edit records in your database? We suggest you to install another extension
<a href ng-click="link_to_storage_explorer()" class="btn btn-info btn-xs">Storage Explorer</a>.
</p>
</div>

</div>

</body>
</html>
